body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-image: url(../images/startup-desk.jpg);
    background-size: cover;
    height: 800px;
    display: flex;
}

.InformacoesIniciais{
    width: 500px;
    height: 600px;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
}

.InformacoesIniciais p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

h1{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 15px;
    border-radius: 20px;
}

.data{
    background-color: rgba(0, 0, 255, 0.671);
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 6px 6px 3px black;
    margin-left: 80px;
    margin-top: 30px;
}

.data p{
    font-size: 18px;
    color: black;
}



section{
    margin-left: auto;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.74);
    margin-top: 150px;
    margin-right: 100px;
    padding: 40px;
    border-radius: 20px;
}

section h2{
    margin-bottom: 40px;
}

section input[type="text"], input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: rgb(207, 207, 207);
    border: 2px solid black;
    padding: 8px;
    border-radius: 5px;
}

section input[type="submit"]{
    padding: 25px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    background-color: blue;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 27px;
    margin-top: 30px;
}

section input[type="submit"]:hover{
    background-color: red;
}

a{
    color: black;
}

.InformacoesImportantes{
    height: 600px;
    background-color: white;
}

img{
    width: 60px;
    margin-left: 280px;
    margin-top: 0px;
    margin-right: 20px;
    position: relative;
    top: 15px;
}

.h2-1{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.InformacoesImportantes div{
    display: inline-block;
    width: 350px;
    height: 300px;
    border: 4px solid black;
    border-radius: 25px;
    margin-right: 80px;
    padding: 50px;
    text-align: center;
    box-shadow: 12px 12px 8px black;
    background-color: rgb(224, 219, 219);
}

.LocalLives{
    margin-left: 200px;
}

.Programacao{
    background-image: url(../images/wrtiting-tools.jpg);
    background-size: cover;
    height: 940px;
}

.Programacao img{
    margin-left: 410px;
    margin-top: 40px;
}

.Programacao div{
    border: 4px solid black;
    width: 700px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 12px 12px 8px black;
    background-color: rgba(255, 255, 255, 0.425);
}

.Programacao p{
    font-size: 20px;
}

footer{
    background-color: black;
    padding: 5px;
}

footer p{
    color: white;
    text-align: center;
}

@media screen and (max-width: 1308px) {
    .InformacoesIniciais{
        width: 500px;
        height: 600px;
        text-align: center;
        margin-top: 150px;
        margin-left: 70px;
    }

    section{
        margin-right: 50px;
    }

    img{
        width: 60px;
        margin-left: 0;
        margin-top: 0px;
        margin-right: 20px;
        position: relative;
        top: 15px;
    }

    .InformacoesImportantes{
        height: 1200px;
    }

    .InformacoesImportantes .h2-1{
        text-align: center;  
    }

    .InformacoesImportantes div{
        display: block;   
    }

    .LocalLives{
        margin-left: 32%;
        margin-bottom: 100px;
    }

    .DataEvento{
        margin-left: 32%;
    }

    .Programacao .h2-1 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .Programacao img{
        margin-left: 0;
    }
}

@media screen and (max-width: 1124px) {
    .InformacoesIniciais{
        width: 450px;
    }

    .InformacoesIniciais .data{
        margin-left: 60px;
    }
        
    section{
        width: 350px;
    }

    section input[type="submit"]{
        margin-left: 6px;
    }
}

@media screen and (max-width: 1024px) {
    main{
        height: 1500px;
    }

    .InformacoesIniciais{
        position: relative;
        left: 30%;
        margin-left: 0;
        margin-right: 0;  
        width: 700px;      
    }

    .InformacoesIniciais .data{
        margin-left: 14%;
    }

    section{
        position: relative;
        top: 700px;
        margin-left: 0;
        margin-right: 0; 
        right: 22%;
        width: 600px;
    }

    .InformacoesImportantes div{
        margin-left: 0;
        margin: auto;
    }

    .InformacoesImportantes .LocalLives{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 768px) {
    main{
        background-position: center;
    }

    .InformacoesIniciais{
        width: 100%;
        max-width: 600px;
        margin: 0%;
        margin-top: 10%;
        left: 27%;
    }

    .InformacoesIniciais .data{
        margin-left: 3%;
    }

}

@media screen and (max-width: 540px) {
    *{
        max-width: 5000px;    
    }

    .InformacoesIniciais{
        left: 20%;
    }

    .InformacoesIniciais .data{
        margin-left: 0%;
    }

    section{
        right: 49%;
    }

    .InformacoesImportantes{
        height: auto;
    }

    .InformacoesImportantes div:last-child{
        margin-bottom: 15%;
    }

    .Programacao{
        height: auto;
    }

    .Programacao div{
        width: 100%;
        max-width: 70%;
        padding: 20px;
    }

    .Programacao div:last-child{
        margin-bottom: 0%;
    }
}

@media screen and (max-width: 411px) {
    .InformacoesIniciais{
        left: 12%;
    }

    section{
        width: 100%;
        max-width: 70%;
        right: 72%;
    }

    section h2{
        text-align: center;
    }

    section input[type="submit"]{
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0%;
    }

    .InformacoesImportantes{
        height: auto;
    }

    .InformacoesImportantes img{
        width: 10%;
        top: 7px;
    }

    .InformacoesImportantes div{
        width: 100%;
        max-width: 60%;
        height: auto;
    }
}